{% extends 'blog/base.html' %}
{% load static %}

{% block content %}
    <div class="col-sm-10">
        <h3 class="text-white my-5">about page </h3>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Delectus unde deleniti quas velit laborum maiores enim iusto, sed commodi veritatis placeat magni saepe recusandae error rem officia corporis vel sequi possimus? Earum mollitia praesentium voluptas consectetur ad tempora dolore, cupiditate, tenetur sit, ipsam eius deserunt quas? Ipsam velit veniam iste?</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet maxime illum doloribus cupiditate praesentium reiciendis non. Tempore consectetur assumenda numquam libero nihil porro blanditiis, nulla, eaque soluta veritatis, dignissimos iste.</p>

        </div>
{% endblock content %}